/* ------------ IMPORTS ------------- */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600&display=swap');


/* ------------ GLOBALES ------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

html{
  scroll-behavior: smooth;
}

main{
  background-color: var(--black);
}

.flexcenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.direction{
  flex-direction: column;
}

/* ------------ TEXTO ------------- */

h1{
  color: var(--white);
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 600;
}

h2{
  color: var(--focus);
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

h3{
  color: var(--white);
  font-size: 34px;
  text-transform: uppercase;
  text-shadow: 0px 0px 12px #000000;
}

p, .p{
  color: var(--white);
  font-size: 16px;
}

a{
  text-decoration: none;
}

.subtitulo{
  color: var(--white);
  font-size: 24px;
  text-shadow: 0px 0px 12px #000000;
}

.detalles{
  color: var(--white);
  font-size: 14px;
  text-align: justify;
}

/* ------------ COLORES ------------- */
:root {
    --black: #151515;
    --gold: #B59B79;
    --focus: #E2A555;
    --white: #fafafa;
  }


/* ------------ IMAGENES ------------- */
.figure{
  position: relative;
  margin: 1rem 0;
  height: 45vh;
  border-radius: 10px;
}

.img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* ------------ BOTONES ------------- */
/* btn principal */
.btnPrincipal {
    width: 15rem;
    position: relative;
    transition: all 0.3s ease-in-out;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    background-color: var(--focus);
    color: var(--black);
    border: 2px solid #ffffff4d;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    outline: none;
    overflow: hidden;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .btnPrincipal:hover {
    transform: scale(1.05);
  }
  
  .btnPrincipal:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .btnPrincipal::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.5;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }

/* btn menu */

.btnMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--gold);
    color: var(--black);
    padding: 0.5rem;
    border-radius: 100px;
    font-size: 16px;
}

.btnMenu:hover{
    background-color: #927146;
}

.btnSimple{
  color: var(--focus);
  position: relative;
  display: flex;
  font-size: .9rem;
  text-decoration: none;
  margin: 1rem 0;
}

.btnSimple:hover{
  color: var(--focus);
}

.btnSimple::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--focus);
  height: 2px;
  transition: 0.3s ease-out;
}

.btnSimple:hover::after {
  width: 100%;
}

/* ----------- INPUTS ------------ */

/* forms */
form div{
  margin: 1rem 0;
}

/* input buscar */
.group{
  display: flex;
  align-items: center;
  position: relative;
}

.input, input[type="date"]{
  width: 100%;
  height: 45px;
  line-height: 3rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  background-color: var(--white);
  color: var(--black);
  transition: .5s ease;
}

.input::placeholder, input[type="date"]::placeholder{
  color: var(--gold);
}

.input:focus, input:hover, input[type="date"]:focus, input[type="date"]:hover{
  outline: none;
  border-color: var(--focus);
  box-shadow: 0 0 0 5px rgba(143, 96, 0, 0.5);
}

.icon{
  position: absolute;
  right: 1rem;
  fill: none;
  width: 1rem;
  height: 1rem;
}

/*------------ INDEX - HEADER -------------*/

#header{
    background: center center no-repeat;
    background-size: cover;
    height: 100vh;
}

/* NAVBAR */
nav{
    gap: 0.5rem;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin: 0 1rem;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    margin: 0.5rem 0;
    width: 150px;
}

/* ------------ INDEX - PRINCIPAL ------------- */
.fechaPrincipal{
    margin: 1rem 0;
    background-color: var(--black);
    color: var(--white);
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 3rem;
    text-align: center;
    line-height: 2.5rem;
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.5);

    width: 6rem;
    height: 6rem;
}

.txtPrincipal{
    color: var(--white);
    margin: 20vh 1rem 1rem 1rem;

    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}

.fechaPrincipal span{
    font-size: 2rem;
}


/* ------------ INDEX - DESTACADOS ------------- */
#destacados{
  margin: 1rem 1rem;
  border-radius: 10px;
  background: var(--black);
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.50);
  padding: 1rem;
  justify-content: center;
}

#contDestacados{
  gap: 1rem;
}

.eventoDestacado{
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  height: 18rem;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.txtDestacado{
  justify-content: flex-start;
  gap: 1rem;
  overflow: hidden;
}

.fechaDestacado{
    margin: 1rem 0;
    background-color: var(--black);
    color: var(--white);
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 2.25rem;
    text-align: center;
    line-height: 2rem;
    flex-direction: column;

    width: 5.25rem;
    height: 5.25rem;
}

.fechaDestacado span{
  font-size: 1.5rem;
}

/* ------------ INDEX - NUESTRA SALA ------------- */
#nuestrasala{
  margin: 1rem;
}

.txtSala{
  gap: 2.5rem;
}

.mapa{
  margin: 2rem 0;
  position: relative;
  height: 50vh;
  background-color: black;
  border-radius: 10px;
}

.mapa iframe{
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  mix-blend-mode: luminosity;
  width: 100%;
  height: 100%;
}


/* ------------ FOOTER ------------- */
footer{
  margin: 10vh 0 0 0;
  background-color: var(--gold);
  padding: 1rem;
}

.txtFooter{
  justify-content: space-between;
  gap: 1rem;
}

.txtFooter p{
  color: #000;
  text-align: center;
  margin-bottom: 0;
}

.txtFooter div{
  gap: 1rem;
}

.txtFooter img{
  width: 3rem;
}

.marca{
  color: rgba(21, 21, 21, 0.50);
  text-align: center;
  margin: 1rem;
}



/* ------------ LA SALA ------------- */

#carouselExampleCaptions{
  margin: 4rem 1rem;
}

#carouselExampleCaptions img{
  height: 50vh;
  border-radius: 10px;
  object-fit: cover;
}

#info div{
  gap: 1rem;
  flex-direction: column;
  margin: 1rem;
}

#info figure{
  display: block;
}

#marcas{
  gap: 1rem;
  flex-shrink: 0;
  flex-wrap: wrap;
}

/* ----------- CONTACTO ------------- */

#form{
  margin: 1rem;
}

#servicios{
  margin: 1rem;
  gap: 1rem;
  text-align: center;
  max-width: 90vw;
}

.contacto{
  gap: 1rem;
  flex-direction: column;
  margin: 1rem;
  text-align: left;
}

.contacto div{
  gap: 1rem;
}

.contacto p{
  color: var(--focus);
}

.contacto img{
  width: 1.5rem;
}

/* ----------- LISTADO - EVENTOS ------------- */

#listado{
  margin: 1rem;
}

#contListado{
  margin: 1rem;
  gap: 2rem;
}


/* ----------- DETALLES Y COMPRA ------------- */

#detalles{
  margin: 1rem;
  justify-content: flex-start;
}

.infoDetalles{
  align-items: flex-start;
  flex-direction: column;
}

.btnLeft{
  justify-content: flex-end;
}

.table{
  color: var(--white);
  width: 100%;
  margin: 1rem 0;
}

th, td{
  padding: .5rem 0;
  text-align: left;
}

th{
  font-weight: 200;
  font-size: 1rem;
}

td{
  color: var(--focus);
  font-size: 1.5rem;
}

#cantTicket{
  padding: 0;
  text-align: center;
}

.total{
  margin: 1rem 0;
  padding: 1rem 2rem;
  justify-content: space-between;
  border-radius: 0.625rem;
  background: #1E1E1E;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
}

#detalles figure{
  height: 20vh;
}

.btnLeft{
  justify-content: space-between;
}

.btnLeft img{
  width: 2.5rem;
}

/* INPUT RADIO */
input[type="radio"] {
  opacity: 0;
}

.radio-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.radio-img {
  width: 8rem;
  height: 8rem;
}

.radio-container p{
  text-align: center;
  width: 9rem;
}

.radioOptions{
  justify-content: space-between;
  align-items: flex-start;
}

#MP, #RP{
  border-radius: 20px;
  outline: none;
  transition: .5s ease;
}

#MP:checked + label, #RP:checked + label{
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0px 0px 0px 20px var(--focus);
}

/* VERIFICACION */

.verificacion{
  flex-direction: column;
  margin: 4rem 0;
  gap: 1rem;
}

.verificacion img{
  width: 5rem;
  border-radius: 100px;
}

/* FINALIZACION */

.qr{
  flex-direction: column;
  gap: 1rem;
}

#qrcode{
  width: 12rem;
}

#codigo{
  color: #E2A555;
}


/* ----------- LOS MEDIA QUERY ------------- */

/* Media query para pantallas más grandes */
@media screen and (min-width: 768px) {
  #header{
    height: 90vh;
  }

  header>div{
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
  }

  .direction{
    flex-direction: row;
  }

  .flexcenter{
    flex-wrap: wrap;
  }

  .eventoDestacado{
    width: 45%;
  }

  #form, #info{
    display: flex;
    gap: 6vw;
    align-items: center;
    flex-direction: row;
  }

  #form div, #info div{
    max-width: 45vw;
  }

  #form figure img, #info figure img{
    width: 45vw;
    object-fit: contain;
  }

  .txtServicios{
    width: 27vw;
  }

  .eventoDestacado{
    width: 45vw;
  }

  .txtFooter{
    max-width: 45vw;
    text-align: left;
  }
}